@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;

  background-color: rgb(3, 3, 33)

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.over {
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow:hidden
}

.overskill {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow:hidden

}

.textcolor {
  color: rgb(94 234 212 / var(--tw-bg-opacity));
}